/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
   /*  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; */
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

nav{
    background: #e9b8e1;
    height: 80px;
    width: 100%;
}

label.logo{
    color: #b61e9d;
    font-size: 40px;
    line-height: 80px;
    font-style: italic;
    padding: 0 100px;
}

nav ul{
    float: right;
    line-height: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: rgb(117, 84, 84);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;

}

a.active, a:hover{
    background: #c97ebc;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: rgb(117, 84, 84);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #1b0e19;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 18px;
    }

    a:hover,a.active{
        background: none;
        color: #b61e9d;
    }

    #check:checked ~ ul{
        left: 0;
    }
}

/* Container */
.container {
    width: 100%;
    max-width: 800px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
    /* margin-top: 100px; */
}

/* Search Form */
form {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #d15db4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #b3009b;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #72686e;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #70576b;
    color: white;
}

input[type="file"] {
    display: block;
    margin: 10px auto;
}